header{
	
}
.logo img{
	width: 100px;
	padding-top: 20px;
	padding-left: 20px;
}
body{
	background-color: #A4FEBE;
}
#wrap{
	width: 465px;
	margin: auto;
}
.container{
	width: 200px;
	height: 370px;
	text-align: center;
	background-color: #CECECE;
	float: left;
	border-radius: 4px;
	margin: auto;
	margin-top: 50px;
}
.container img{
	height: 160px;
	width: 190px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.container2{
	width: 200px;
	height: 370px;
	text-align: center;
	background-color: #CECECE;
	float: right;
	border-radius: 4px;
	margin: auto;
	margin-top: 50px;
}
.container2 img{
	height: 160px;
	width: 190px;
	margin-top: 5px;
	margin-bottom: 10px;
}
input[type="text"], input[type="password"]{
	height: 22px;
	width: 125px;
	font-size: 12px;
	border: none;
	margin-bottom: 8px;
	border-radius: 10px;
	background-color: #4D1E47;
	padding-left: 30px;
}
.forminput::before{
    content: "\f007";
    position: absolute;
    font-family: "font";
    padding-left: 7px;
    color: #7B5175;
    font-size: 22px;
}
.forminput:nth-child(2)::before{
	content: "\f023";
}
.btn-login{
    width: 90px;
	height: 90px;
	cursor: pointer;
    color: black;
    border-radius: 50%;
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: 4px solid #282727;
	margin-top: 10px;
    margin-bottom: 20px;
}
